.img-fluid {
  width: 10%;
  position: relative;
  animation: mymove 3s infinite;
}
.header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #103778;
  color:#ff7a48;
}
@keyframes mymove {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Color Theme Swatches in Hex */
.Water-Rust-1 {
  color: #151f30;
}
.Water-Rust-2 {
  color: #103778;
}
.Water-Rust-3 {
  color: #0593a2;
}
.Water-Rust-4 {
  color: #ff7a48;
}
.Water-Rust-5 {
  color: #e3371e;
}
